@font-face {
      font-family: 'Opensans';
      src: url('../../fonts/opensans-bold-webfont.eot');
      src: url('../../fonts/opensans-bold-webfont.eot') format('embedded-opentype'),
           url('../../fonts/opensans-bold-webfont.woff') format('woff'),
           url('../../fonts/opensans-bold-webfont.ttf') format('truetype'),
           url('../../fonts/opensans-bold-webfont.rvg') format('svg');
      font-weight: bold;;
      font-style: normal;
    }
@font-face {
      font-family: 'Opensans';
      src: url('../../fonts/opensans-bolditalic-webfont.eot');
      src: url('../../fonts/opensans-bolditalic-webfont.eot') format('embedded-opentype'),
           url('../../fonts/opensans-bolditalic-webfont.woff') format('woff'),
           url('../../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
           url('../../fonts/opensans-bolditalic-webfont.rvg') format('svg');
      font-weight: normal;
      font-style: italic;
    }
@font-face {
      font-family: 'Opensans';
      src: url('../../fonts/opensans-light-webfont.eot');
      src: url('../../fonts/opensans-light-webfont.eot') format('embedded-opentype'),
           url('../../fonts/opensans-light-webfont.woff') format('woff'),
           url('../../fonts/opensans-light-webfont.ttf') format('truetype'),
           url('../../fonts/opensans-light-webfont.rvg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
@font-face {
      font-family: 'Opensans';
      src: url('../../fonts/opensans-lightitalic-webfont.eot');
      src: url('../../fonts/opensans-lightitalic-webfont.eot') format('embedded-opentype'),
           url('../../fonts/opensans-lightitalic-webfont.woff') format('woff'),
           url('../../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
           url('../../fonts/opensans-lightitalic-webfont.rvg') format('svg');
      font-weight:normal;
      font-style: italic;
    }
